body {
	margin: 0px;
	padding: 0px;
	font-size:larger;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
	background: rgb(236, 104, 43);
	width: 200px;
	margin: 15px 30px;
	border-radius: 8px;
}

ul {
	margin: 15px 15px 15px 30px;
	padding: 15px;
}

li {
	padding: 5px;
}

a {
	color: rgb(3, 3, 3);
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}