.container {
	background-color: rgb(255, 112, 46);
	border-radius: 10px;
	width: 180px;
	height: 550px;
	padding: 20px;
	margin-left: 30px;
}

div.circle {
	width: 150px;
	height: 150px;
	margin: 15px;
	border-radius: 150px;
	background: black;
}
